h1 {
  padding:0;
  margin:0;
  text-align: center;
  font-family: "Gravitas One";
  font-size: 63px;
  margin-top: 4.5%;
}

html {
  height: 100%;
  background: url("http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,h_947,w_1362/v1470853140/65228d1201860376-programa-de-web-ladrillos-bricks002_a6guyl.jpg");
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*width: 800px;*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}
img {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.modal-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);
  font-family: "Gravitas One";
}

.modal-body {
  font-size: 30px;
  font-family: "Open Sans"
}
